.NavbarDivSecond .SearchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
}

.CardSearchDiv {
  width: 1020px;
  height: 300px;
  position: absolute;
  background-color: var(---mainColor);
  z-index: 100;
  left: 0;
  top: 60px;
  padding: 0.6rem 0.8rem;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
}

.ShowDiv {
  display: block;
}

.SearchCard {
  width: 100%;
  height: auto;
  display: flex;
}

.SearchContentDiv h1 {
  color: var(--darkColor);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.NavbarDivSecond {
  border-radius: 5px;
  /* overflow: hidden; */
}

.NavbarDivSecond .SearchDiv input {
  width: 900px;
  height: 50px;
  outline: none;
  padding: 1rem;
}

.DropDownMenuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  background-color: var(--dropDownColor);
  color: var(--smoothWhite);
}

.DropDownMenuDiv p {
  margin-right: 0.5rem;
}

.DropDownMenuDiv i {
  cursor: pointer;
}

.NavbarDivSecond .SearchDiv .searchIcon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--searchButtonBg);
  color: var(--darkColor);
  border: none;
  cursor: pointer;
}
