.BannerSection {
  width: 100%;
  height: auto;
  position: relative;
}

.Container {
  max-width: 1500px;
  margin: auto;
}

.BannerSection .Container {
  position: relative;
  display: grid;
  place-content: center;
}

.BannerSection .Container::before {
  content: "";
  width: 100%;
  height: 70vh;
  background-image: url(https://m.media-amazon.com/images/I/71yr9snSjYL._SX3000_.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.ProductsDiv {
  width: 100%;
  height: auto;
}

.Spacer {
  width: 100%;
  height: 25vh;
}

.ProductsContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
