.TopNavbar {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: var(--headerColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(---mainColor);
}

.NavbarDivFirst,
.NavbarDivThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.NavbarDivFirst > div,
.NavbarDivThree > div {
  margin: 0 1rem;
}

.NavbarDivFirst p {
  color: var(--lightSmook);
}

.NavbarDivThree p {
  color: var(--lightSmook);
}

.NavbarDivThree a {
  color: var(---mainColor);
}

.ShopDivComponent {
  position: relative;
}

.ShopDivComponent i {
  cursor: pointer;
  margin-right: 0.5rem;
}
