.WishListCard {
  width: 100px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: -12px;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(174, 174, 174, 0.46);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(174, 174, 174, 0.46);
  -moz-box-shadow: 5px 5px 5px 0px rgba(174, 174, 174, 0.46);
  padding: 1rem;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  transition: all 0.3s ease;
  opacity: 1;
}

.hideCard {
  opacity: 0;
}

.WishListContent {
  text-align: center;
  display: grid;
  place-content: center;
}

.WishListContent h3 {
  color: var(--darkColor);
  font-size: 0.8rem;
}

.WishListContent p {
  color: var(--footerColorFirst) !important;
  margin: 0.3rem 0;
}

.ProductCoverDiv {
  position: relative;
}

.ProductsImgDiv {
  width: 80px;
  height: 100px;
  background-position: center;
  background-size: cover;
  margin: 0.6rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.ProductCoverDiv {
  display: flex;
}

.Shop:hover {
  text-decoration: underline;
}

.ProductsImgDiv img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.quntityDiv {
  width: 25px;
  height: 25px;
  background-color: var(--darkColor);
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
}

.quntityDiv p {
  color: var(--mainColor) !important;
  font-weight: 600;
}

.WishListCard::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.WishListCard::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.WishListCard::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.WishListCard::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.removeItemButton {
  font-size: 0.6rem;
  padding: 0.2rem 1rem;
  background-color: var(--headerFontColor);
  border: none;
  color: var(---mainColor);
  cursor: pointer;
}

/* 
.wishListDivCardSm {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0.6rem 0;
  display: flex;
  border: 1px solid rgb(129, 129, 129);
}



.producstsContentDiv {
  margin-left: 1rem;
  max-width: 120px;
}

.producstsContentDiv h3 {
  color: #000;
  font-size: 0.7rem;
}

.producstsContentDiv p {
  font-size: 0.6rem;
  color: rgb(46, 46, 46) !important;
}

.producstsContentDiv h4 {
  color: rgb(53, 53, 53);
}

*/
