@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --headerColor: #131921;
  --smallNavbarColor: #232f3e;
  --searchButtonBg: #faaa42;
  --sectionBGColor: #eaeded;
  --linkColor: #288798;
  --headerFontColor: #0f1111;
  --footerColorFirst: #37475a;
  --footerColorSecond: #232f3e;
  --footerColorThree: #131a22;
  ---mainColor: #fff;
  --darkColor: #000;
  --dropDownColor: #f3f3f3;
  --smoothWhite: #666;
  --lightSmook: rgb(202, 202, 202);
}

a {
  text-decoration: none;
}
